@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

body {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(
            to bottom right,
            rgba(96, 76, 76, 0.6),
            rgba(96, 76, 76, 0.6)
        ),
        url(/images/CoffeShop.jpg);
    background-size: cover;
    background-position: center;
}

span {
    color: crimson;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
}

.nav-bar .title {
    color: #fff;
    font-size: 55px;
}

ul li a {
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-size: 27px;
    font-weight: 600;
    margin-left: 25px;
}

.home {
    height: 400px;
    padding: 70px;
}

.title-1 {
    font-size: 56px;
    color: #fff;
    font-weight: 500;
}

.home p {
    color: lemonchiffon;
    font-size: 20px;
    padding-top: 10px;
}
